<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Clyde's Portfolio </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static' , filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static' , filename='assets/css/main.css')}}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Clyde Javis Ahoya - LivingWeb
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/Clyde Javis Ahoya - LivingWeb-bootstrap-photography-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-camera"></i>
        <h1>Clyde Javis Ahoya </h1>
      </a>

    <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_for('root')}}" class="active">Home</a></li>
     
         
          <li><a href="{{url_for('Services')}}">Services</a></li>
          <li><a href="{{url_for('Contact')}}">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->


      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">
 <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>I'm <span> Clyde Javis Ahoya </span> a Professional Developer from Kisumu City</h2>
          <p> With Cutting Edge Experience On Matters Technology And Software Systems </p>
  
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>About</h2>
            <p>I am a Fullstack Web2 And Web3 Developer with several of years of expirience . I am Passionately Exploring Technologies such as AI & Machine Learning , Big Data Analytics & Visualizations , Cyber Security And Computer Graphics/Vision . I am knowledgeable in Python , Javascript , Rust , Powershell and Bash . I primarily focus on Python as my main programming language with interests to Artificial Intelligence and Data Science.</p>

            <a class="cta-btn" href="contact.html">Available for work </a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="/static/assets/img/Doctor.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 content">
            <h2> Professional Developer from Kisumu </h2>
            <p class="fst-italic py-3">
             With an in depth knowledge in fields such as Artificial Intelligence ( AI ) , Data Science ,  Web2/Web3 Programming , Internet Of Things , Statistical Programming and Other Technological Trends . 
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Full Name:</strong> <span>Clyde Javis Ahoya</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.the-doctor.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254741371429</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kisumu , Kenya </span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Github Profle :</strong> <span> https://github.com/C-The-Doctor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Upwork Profile :</strong> <span> https://upwork.com/The-Doctor </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Proffessional Profile:</strong> <span>www.linkedin.com/in/clyde-javis-7a02b6216</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email Address </strong> <span>thedoctor@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong> Availability :</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
            In addition to my Training at Jomo Kenyatta University Of Agriculture and technology , am an out of the box solutionist , adaptive , professional , respectfull and a team player . For more of my professional works check me out on <a href="www.linkedin.com/in/clyde-javis-7a02b6216"> Linked In Profile </a>  . For proof of work visit my Git <a href="www.linkedin.com/in/clyde-javis-7a02b6216"> Github Profile </a>
            </p>
          
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

     <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h2> Rep </h2>
          <p>What they are saying</p>
        </div>

        <div class="slides-3 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                 He did much more than merely steer it past the finish line. -He did so many little things that made his presence outstanding. -Clyde Javis sets an excellent example for others by pushing them to develop in their areas. -He was the one that took the initiative and led both of them, yet he was also a fierce competitor.
                </p>
                <div class="profile mt-auto">
                  <img src="/static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3> Hussein Khalid </h3>
                  <h4> Developer &amp; Nairobi </h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  -He is the best fit for any management or leadership position because of his considerable leadership and software engineering experience.

-Clyde Javis  instills excitement and dedication in his software and the people he leads.

-Clyde Javis  is a highly experienced software engineer who is eager to help you with anything you want.

-Clyde Javis  made an impact on me right away as a tough and capable software engineer.
                </p>
                <div class="profile mt-auto">
                  <img src="/static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3> John Lobi   </h3>
                  <h4> Developer &amp; Nairobi </h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                -Clyde Javis  doesn’t preach; instead, he sets an example by going above and beyond to accomplish his goals.

-He assumes command, instructs everyone around him on what they should be doing, and then does it himself.

-In all domains, he’s an excellent software engineer with a broad breadth of expertise.
                </p>
                <div class="profile mt-auto">
                  <img src="/static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3> Felix Awere </h3>
                  <h4> Developer &amp Kisumu  </h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                 -He was always eager to take the initiative and assist  in overcoming our numerous difficulties.

-At all times, he was the first to assume command and steer others with a strong sense of purpose.

-In his role as the project’s principal software engineer, Clyde Javis  excelled.
-When I think of his leadership style, I can think of many examples of how he has led and is leading others.

-He belongs to a rare breed of people who were born to lead and do so by setting a good example.
                </p>
                <div class="profile mt-auto">
                  <img src="/static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3> Emeldah Albright  </h3>
                  <h4>  Developer &amp Eldoret  </h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

          
           

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Clyde Javis Ahoya </span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Clyde Javis Ahoya - LivingWeb-bootstrap-photography-website-template/ -->
        Designed by <a href="https://www.the-doctor.onrender.com"> THE-DOCTOR </a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static' , filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static' , filename='assets/js/main.js')}}"></script>

</body>

</html>
