<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Clyde's Services </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link src="{{url_for('static' , filename='/assets/img/favicon.png')}}" rel="icon">
  <link src="{{url_for('static' , filename='/assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static' , filename='/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='/assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static' , filename='assets/css/main.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Clyde Javis Ahoya 
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/Clyde Javis Ahoya -bootstrap-photography-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{{url_for('static' , filename='assets/img/logo.png')}}" alt=""> -->
        <i class="bi bi-camera"></i>
        <h1> Clyde Javis Ahoya </h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_for('root')}}">Home</a></li>
     
         
          <li><a href="{{url_for('Services')}}" class="active">Services</a></li>
          <li><a href="{{url_for('Contact')}}">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Services</h2>
            <p> Delve into the best in class expirience and technology by utilizing the services supported below . Feel free to ask any queries if need be .</p>

            <a class="cta-btn" href="contact.html"> Open For Work </a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-activity"></i>
              <h4><a href="" class="stretched-link"> E - Commerce </a></h4>
              <p>E-commerce (electronic commerce) is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet. These business transactions occur either as business-to-business (B2B), business-to-consumer (B2C), consumer-to-consumer or consumer-to-business.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-bounding-box-circles"></i>
              <h4><a href="" class="stretched-link"> Cloud Computing </a></h4>
              <p> Cloud Computing is an internet based service that provides on demand access to shared computer resources and data. In other words, cloud computing means delivery of hosted services and resources over the internet. These resources include storage, server, network and applications. These resources can be quickly equipped and can be freed easily. Virtualization is the driving force behind cloud computing . </p>
            </div>
          </div><!-- End Service Item -->

 <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="" class="stretched-link"> Bots & IVRs </a></h4>
              <p> Interactive voice response (IVR) is a technology that allows telephone users to interact with a computer-operated telephone system through the use of voice and DTMF tones input with a keypad. In telecommunications, IVR allows customers to interact with a companys host system via a telephone keypad or by speech recognition, after which services can be inquired about through the IVR dialogue. </p>
            </div>
          </div><!-- End Service Item -->
        

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-broadcast"></i>
              <h4>Android Applications</h4>
              <p>An Android app is a software application running on the Android platform. Because the Android platform is built for mobile devices, a typical Android app is designed for a smartphone or a tablet PC running on the Android OS.</p>
            </div>
          </div><!-- End Service Item -->
  <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-activity"></i>
              <h4><a href="" class="stretched-link"> Desktop Applications  </a></h4>
              <p>What Are Desktop Applications? Desktop applications are software programs run locally on computer devices  They aren accessible from a browser, like web-based apps, and require deployment on a personal computer or laptop</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-bounding-box-circles"></i>
              <h4><a href="" class="stretched-link"> Custom Tailored Software </a></h4>
              <p>Also called tailor-made software, custom program, and specialized software, custom software is Software thats made for an individual or business that performs tasks specific to their needs. For example, if you had a home business, you may hire someone to create a custom software program to help print and view invoices. By creating custom software, you can have a program that does exactly what you need and not most of what you need.

</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="" class="stretched-link"> Financial Applications (Fintech) 
              </a></h4>
              <p>Financial software is a type of software that is specifically designed to automate, assist and store financial information of a personal or business nature. It handles the storage, analysis, management and processing of a set of financial transactions, records and processes.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-broadcast"></i>
              <h4><a href="" class="stretched-link"> Consultations </a></h4>
              <p> Post your queries , need to know information on matters technology . Our Customer support systems work for 24Hrs .</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-header">
          <h2>Prices</h2>
          <p>Check my adorable pricing</p>
        </div>

        <div class="row gy-4 gx-lg-5">

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3> E - Commerce Applications </h3>
              <h4> 35,000 - XXXXXXX </h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3> Cloud Computing </h3>
              <h4> 30,000 - XXXXXXX </h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3>S Bots & IVRs</h3>
              <h4>15,000 - XXXXXXX </h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3> Android Applications </h3>
              <h4> 25,000 - XXXXXXX </h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3> Desktop Applications </h3>
              <h4>50,000 - XXXXXXX </h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3>Fintech</h3>
              <h4> 30,000 - XXXXXXX </h4>
            </div>
          </div><!-- End Pricing Item -->

        </div>
    </section><!-- End Pricing Section -->
  <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h2> Rep </h2>
          <p>What they are saying</p>
        </div>

        <div class="slides-3 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                 He did much more than merely steer it past the finish line. -He did so many little things that made his presence outstanding. -Clyde Javis sets an excellent example for others by pushing them to develop in their areas. -He was the one that took the initiative and led both of them, yet he was also a fierce competitor.
                </p>
                <div class="profile mt-auto">
                  <img src="/static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3> Hussein Khalid </h3>
                  <h4> Developer &amp; Nairobi </h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  -He is the best fit for any management or leadership position because of his considerable leadership and software engineering experience.

-Clyde Javis  instills excitement and dedication in his software and the people he leads.

-Clyde Javis  is a highly experienced software engineer who is eager to help you with anything you want.

-Clyde Javis  made an impact on me right away as a tough and capable software engineer.
                </p>
                <div class="profile mt-auto">
                  <img src="/static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3> John Lobi   </h3>
                  <h4> Developer &amp; Nairobi </h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                -Clyde Javis  doesn’t preach; instead, he sets an example by going above and beyond to accomplish his goals.

-He assumes command, instructs everyone around him on what they should be doing, and then does it himself.

-In all domains, he’s an excellent software engineer with a broad breadth of expertise.
                </p>
                <div class="profile mt-auto">
                  <img src="/static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3> Felix Awere </h3>
                  <h4> Developer &amp Kisumu  </h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                 -He was always eager to take the initiative and assist  in overcoming our numerous difficulties.

-At all times, he was the first to assume command and steer others with a strong sense of purpose.

-In his role as the project’s principal software engineer, Clyde Javis  excelled.
-When I think of his leadership style, I can think of many examples of how he has led and is leading others.

-He belongs to a rare breed of people who were born to lead and do so by setting a good example.
                </p>
                <div class="profile mt-auto">
                  <img src="/static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3> Emeldah Albright  </h3>
                  <h4>  Developer &amp Eldoret  </h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

          
           

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Clyde Javis Ahoya </span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Clyde Javis Ahoya -bootstrap-photography-website-template/ -->
        Designed by <a href="https://the-doctor.onrender.com/"> THE-DOCTOR.COM </a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>
